.headline {
  width: fit-content;
  padding: 5px 15px;
  margin: 0;
  font-family: "Marmelad";
  font-style: normal;
  background-color: #1b262c;
  color: #31a5b5;
}

.desc {
  padding: 5px 15px;
  margin: 0;
}

.nav {
  margin: 5% 0;
}

.btn {
  padding: 5px 3%;
  margin: 0 10px;
  border-radius: 50px;
  font-size: 12px;
  background-color: #1b262c;
  color: #ffffff;
}

.scroll {
  font-size: 12px;
  cursor: pointer;
}

@media only screen and (min-width: 768px) {
  .headline {
    font-size: 94px;
  }

  .desc {
    font-size: 84px;
  }
  .nav {
    margin: 2% 0;
  }
  .btn {
    padding: 15px 3%;
    margin: 0 10px;
    border-radius: 50px;
    font-size: 26px;
    background-color: #1b262c;
    color: #ffffff;
  }

  .scroll {
    font-size: 18px;
  }
}
